body {
    background-color: #383d91;
    padding: 30;
    margin-top: 10px;
    display: deck;
    font-family: 'Roboto', sans-serif;
    color: #b0afb8;
}

#banner {
    background:url('');
    width:100%;
    min-height: 170;
    margin-bottom: 20px;
}

fieldset {
  background-color: #FAEBD7
;
  border-style: ridge;
  border-width: medium;
  display: block;

  margin: auto;

  padding-top: 0.45em;
  padding-bottom: 0.725em;
  padding-left: 0.55em;
  padding-right: 0.55em;
  border: 3px groove;
  width: 40%;
}

form {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align:center;
  font-weight:bold;
}

div.form-element {
    display:flex;
    grid-template-columns: max-content max-content;
    grid-gap:7px;
}

div.form-element label {
  float:left;
  width:35%;
  margin-right:0.4em;
  padding-top:0.3em;
  text-align:right;
  font-weight:bold;
}

div.form-element label:after {
  content: ":";
}

div.form-element input {
    float: left;
    position: relative;
    display: flex;
    align-self: flex-end;
    overflow: hidden;
}

legend {
  border-color: inherit;
  border-style: inherit;
  width: auto%;
  background-color: #8A2be2;
  text-align:left;
}

.inlineradio {
  display: flex;
  overflow: hidden;
  align-self: flex-end;
}


form.content {
    text-align: center;
    font-style: normal;
    font-size-adjust: auto;
    align-items: center;
}

input , select{
    padding-left: 7px;
    float: right;
    display:inline-block;
}

button {
    width: 30%;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    padding-top: 0.35em;
    background-color: #0d0166;
    color: #b0afb8
}
